<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <application>
        <!-- Test activity for Hilt-enabled Compose tests -->
        <activity
            android:name="no.helge.android.featureone.ui.HiltTestActivity"
            android:exported="false" />
    </application>
    
</manifest>